bidict==0.21.4
black==21.11b1
certifi==2021.10.8
cffi==1.14.6
click==8.0.3
dnspython==1.15.0
eventlet==0.30.2
Flask==2.0.2
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
MIDIUtil==1.2.1
mypy-extensions==0.4.3
numpy==1.21.4
pathspec==0.9.0
pip==21.2.4
platformdirs==2.4.0
pycparser==2.21
python-engineio==4.3.0
python-socketio==5.5.0
regex==2021.11.10
setuptools==58.0.4
six==1.16.0
tomli==1.2.2
typing_extensions==4.0.0
Werkzeug==2.0.2
wheel==0.37.0
zope.event==4.5.0
zope.interface==5.4.0
